<!DOCTYPE html>
<html>
	<body>
		<div id="wrapper">
			<p id="title" class="hidden"> </p>
			
			<div id="rightShelf" class="float-right">
				<div id="book1" class="book" style="top: 96px; left: 245px; width: 32px; height: 96px; background-image: url('img/book1.png');"></div>
				<div id="book2" class="book" style="top: 100px; left: 274px; width: 31px; height: 92px; background-image: url('img/book2.png');"></div>
				<div id="book3" class="book" style="top: 102px; left: 163px; width: 22px; height: 90px; background-image: url('img/book3.png');"></div>
				<div id="book4" class="book" style="top: 99px; left: 72px; width: 29px; height: 93px; background-image: url('img/book4.png');"></div>
				<div id="book5" class="book" style="top: 226px; left: 86px; width: 38px; height: 88px; background-image: url('img/book5.png');"></div>
				<div id="book6" class="book" style="top: 217px; left: 177px; width: 36px; height: 97px; background-image: url('img/book6.png');"></div>
				<div id="book7" class="book" style="top: 208px; left: 259px; width: 30px; height: 106px; background-image: url('img/book7.png');"></div>
				<div id="book8" class="book" style="top: 337px; left: 56px; width: 30px; height: 107px; background-image: url('img/book8.png');"></div>
				<div id="book9" class="book" style="top: 331px; left: 135px; width: 36px; height: 113px; background-image: url('img/book9.png');"></div>
				<div id="book10" class="book" style="top: 338px; left: 201px; width: 31px; height: 105px; background-image: url('img/book10.png');"></div>
				<div id="book11" class="book" style="top: 348px; left: 335px; width: 33px; height: 95px; background-image: url('img/book11.png');"></div>
				<div id="book12" class="book" style="top: 354px; left: 303px; width: 33px; height: 89px; background-image: url('img/book12.png');"></div>
				<div id="book13" class="book" style="top: 463px; left: 19px; width: 28px; height: 105px; background-image: url('img/book13.png');"></div>
				<div id="book14" class="book" style="top: 459px; left: 87px; width: 37px; height: 109px; background-image: url('img/book14.png');"></div>
				<div id="book15" class="book" style="top: 467px; left: 123px; width: 35px; height: 101px; background-image: url('img/book15.png');"></div>
				<div id="book16" class="book" style="top: 596px; left: 257px; width: 35px; height: 103px; background-image: url('img/book16.png');"></div>
				<div id="book17" class="book" style="top: 588px; left: 290px; width: 29px; height: 111px; background-image: url('img/book17.png');"></div>
				<div id="book18" class="book" style="top: 596px; left: 65px; width: 34px; height: 104px; background-image: url('img/book18.png');"></div>
				<div id="book19" class="book" style="top: 587px; left: 33px; width: 33px; height: 111px; background-image: url('img/book19.png');"></div>
				<div id="book20" class="book" style="top: 270px; left: 462px; width: 41px; height: 105px; background-image: url('img/book20.png');"></div>
			</div>
			
			<div id="content" class="bookshelf">
				<div id="textWrap" class="bookshelf">
					<div id="text"> </div>
				</div>
				<div id="answers" class="bookshelf"> </div>
			</div>
			
			<!-- booknames -->
			<div id="book1name" class="hidden">Gaga gajjd jdjdjdjdjdj djdjdj djd jdjdjdjdj djdjdjj djdjdj djd jddj djdjdjjd</div>
			<div id="book2name" class="hidden"></div>
			<div id="book3name" class="hidden"></div>
			<div id="book4name" class="hidden"></div>
			<div id="book5name" class="hidden"></div>
			<div id="book6name" class="hidden"></div>
			<div id="book7name" class="hidden"></div>
			<div id="book8name" class="hidden"></div>
			<div id="book9name" class="hidden"></div>
			<div id="book10name" class="hidden"></div>
			<div id="book11name" class="hidden"></div>
			<div id="book12name" class="hidden"></div>
			<div id="book13name" class="hidden"></div>
			<div id="book14name" class="hidden"></div>
			<div id="book15name" class="hidden"></div>
			<div id="book16name" class="hidden"></div>
			<div id="book17name" class="hidden"></div>
			<div id="book18name" class="hidden"></div>
			<div id="book19name" class="hidden"></div>
			<div id="book20name" class="hidden"></div>
		</div>
	</body>
</html>
