<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>

		<title>Insert story fragments</title>

		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="robots" content="noindex, nofollow, noarchive" />
		<meta name="googlebot" content="noindex, noarchive" />

		<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/json2/20150503/json2.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script type="text/javascript">
			// Start TinyMCE
			tinyMCE.init({
				selector: 'textarea',
				plugins: 'paste textcolor colorpicker',
				toolbar: 'undo redo styleselect bold italic alignleft aligncenter alignright alignjustify forecolor backcolor bullist numlist',
				menubar: 'file edit insert view format table tools',
				min_height: 300
			});
		</script>

    </head>

    <body>

		<!-- begin container -->
		<div style="width: 800px;" id="container">

			<h2>Insert new</h2>
			<a href="insert.php">Click me!!!</a>
			<br /><br /><br />
			<h2>Edit existing</h2>
			<p>$=list=$</p>

		<!-- end container -->
		</div>

    </body>

</html>
